body {
  margin: 0 auto;
  padding: 0 auto;
  font-family: "Roboto", sans-serif;
}

header {
  padding: 1rem;
  text-align: center;
  box-shadow: 0 0 0.5rem rgb(0 0 0 / 25%);
}

h2 {
  max-width: 1280px;
  margin: auto;
  margin-bottom: 2rem;
}
/* LIEU + BOUTON RESERVATION */
.lieu {
  background: #f3f3f3;
  display: flex;
  align-items: center;
  gap: 0.5rem;
  justify-content: center;
  font-weight: 700;
}

.reservation {
  text-align: center;
  background: #fafafa;
  padding: 2rem;
}

.reservation a {
  text-decoration: none;
  color: white;
  font-weight: 600;
}
.reservation button {
  border: 0;
  padding: 0.75rem 1.5rem;
  font-weight: 500;
  font-size: 1.1rem;
  border-radius: 2rem;
  background-color: #686868;
  background-image: linear-gradient(
    0deg,
    rgba(147, 86, 220, 0.9),
    rgba(255, 121, 218, 0.9)
  );
  cursor: pointer;
  transition-duration: 0.25s;
  box-shadow: 0.25rem 0.25rem 10px rgb(0 0 0 / 25%);
}

.reservation button:hover {
  background-color: #fff;
  box-shadow: 0.25rem 0.25rem 10px rgb(0 0 0 / 50%);
}

/* FONCTIONNEMENT */

.fonctionnement {
  margin: auto;
  max-width: 1280px;
  padding: 2rem;
}

.fonctionnement-items {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: auto;
  gap: 2rem;
  counter-reset: steps;
}

.fonctionnement-items li {
  list-style-type: none;
  padding: 1.2rem;
  border-radius: 1rem;
  background-color: #f6f6f6;
  box-shadow: 0.25rem 0.25rem 0.5rem rgb(0 0 0 / 13%);
  position: relative;
}

.fonctionnement-items i {
  color: #7e7e7e;
  margin-right: 1rem;
  margin-left: 0.4rem;
}

.fonctionnement-items li::before {
  content: "" counter(steps);
  counter-increment: steps;
  background-color: #9356dc;
  height: 1.5rem;
  width: 1.5rem;
  border-radius: 50%;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  left: -0.7rem;
  color: white;
  top: 50%;
  transform: translateY(-50%);
}

/* RESTAURANTS CONTAINER */

.restaurants {
  background-color: #f6f6f6;
  padding: 2rem;
}

.restaurants-items {
  max-width: 1280px;
  margin: auto;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 2rem;
}

.restaurants-items a {
  display: flex;
  flex-direction: column;
  text-decoration: none;
  color: inherit;
  background: white;
  border-radius: 1rem 1rem 1rem 1rem;
}

/* CARD RESTAURANTS */

.card {
  position: relative;
}
#new::before {
  content: "Nouveau";
  position: absolute;
  padding: 0.35rem 0.75rem;
  right: 2rem;
  top: 2rem;
  background-color: #99e2d0;
  color: #1b6150;
  margin: auto;
}

.card-desc {
  padding: 0rem 1rem;
  line-height: 0.5rem;
  position: relative;
}

.card img {
  height: 12rem;
  width: 100%;
  object-fit: cover;
  border-radius: 1rem 1rem 0 0;
}

.card-desc .nohoverheart {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  font-size: 2rem;
  right: 1rem;
}

.card-desc .nohoverheart:hover {
  opacity: 0;
  transition-duration: 0ms;
}

.card-desc .hoverheart {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  font-size: 2rem;
  right: 1rem;
  opacity: 0;
}

.card-desc .hoverheart:hover {
  opacity: 1;
  background: linear-gradient(
    0deg,
    rgba(147, 86, 220, 0.9),
    rgba(255, 121, 218, 0.9)
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  transition-duration: 0.2s;
  transition-timing-function: ease;
}

/* FOOTER */

footer {
  background: #353535;
  padding: 1rem;
}

footer h3 {
  font-family: "Shrikhand", cursive;
  color: white;
  font-weight: 400;
  max-width: 1280px;
  margin: auto;
  margin-bottom: 2rem;
}

footer a {
  text-decoration: none;
  color: white;
  display: flex;
  gap: 1rem;
  max-width: 1280px;
  margin: auto;
  line-height: 1.5rem;
  align-items: center;
}

footer a:hover {
  text-decoration: underline;
}

.iconfooter::before {
  display: inline-block;
}

footer i {
  height: 1rem;
  width: 1rem;
}
